<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도난 시도 감지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>도난 시도 감지</h1>
        <p>도난 사건 발생 시</p>
            <a href="https://www.lost112.go.kr/index.do">경찰청 유실 통합 포털: https://www.lost112.go.kr/index.do</a>
        <div id="warning-container">
            <h2>최근 경고</h2>
            <div id="latest-warning">아직 경고가 없습니다.</div>
        </div>
        <div id="warning-list">
            <h2>경고 목록</h2>
            <ul id="warnings"></ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>