* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "font";
    src: url(./fonts/font.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #dedede;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    background-color: #c8c7c7;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #000;
    font-size: 0.9em;
}

#warning-container {
    background-color: #c8c7c7;
    padding: 15px;
    margin-bottom: 20px;
    color: #000; 
    font-size: 0.9em;
    margin-top: 10px;
}

#warning-container a {
    color: #333;
    text-decoration: none;
}

h2 {
    color: #000;
}

#warning-list ul {
    list-style-type: none;
    padding: 0;
}

#warning-list li {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #000;
}

#warning-list li p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}

.timestamp {
    font-weight: bold;
    font-size: 1em;
}

.location {
    color: #666;
    font-size: 0.8em;
}

/* Hide the warning list if no alerts are present */
#warning-list:empty {
    display: none;
}
